@media screen and (max-width: 576px) {
    .nav-container, .nav-items-container ul, .banner-container
    {
        flex-direction: column;
      
    }
    .nav-container{
       padding: 10px;
      
    }
    .nav-items-container ul{
        margin-top: -10px;
        font-size: 20px;
        gap: 10px;
        padding-inline-start: 0px;
        text-align: center;
       
    }
    .nav-items-container, .nav-items-container li, .banner-content, .banner-img
    {
        width: 100%;
        
    }
    .login-btn{
        display: block;
    }
    .banner-container{
        gap: 20px;
       
    }

}
@media screen and (min-width:576px) and (max-width: 960){

}