@media screen and (min-width:576px) and (max-width: 960px){
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 576px) {
    .nav-container, .nav-items-container ul, .banner-container, .discount-container
    {
        flex-direction: column;
      
    }
    .nav-container{
       padding: 10px;
      
    }
    .nav-items-container ul{
        margin-top: -10px;
        font-size: 20px;
        gap: 10px;
        padding-inline-start: 0px;
        text-align: center;
       
    }
    .nav-items-container, .nav-items-container li, .banner-content, .banner-img, .discount-img, .discount-img img, .discount-content
    {
        width: 100%;
        
    }
    .login-btn{
        display: block;
    }
    .banner-container{
        gap: 20px;
       
    }
    .products-container{
        grid-template-columns: 1fr;
    }
    .discount-container{
        padding: 2rem;
    }
}